.unit{
    position: absolute;
    display: flex;
    top:20px;
    width: 100px;
    height: 100px;
    z-index: 1;
    
}
.player{
    filter: drop-shadow(0px 0px 10px blue);
}
.enemy{
    filter: hue-rotate(270deg) drop-shadow(0px 0px 10px red);
    width: 100px;
    height: 100px
}
.health-bar{
    position: absolute;
    display: flex;
    color: black;
    z-index: 2;
}
#target{
    position: absolute;
    display: flex;
    top:450px;
    left: 450px;
    color: red;
    font-family: fantasy;
    font-size: 40px;
}

.board-square-player, .board-square-enemy{
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
}

.board-square-player {
    border: rgba(0, 0, 255, 0.479) 1px dashed;
}
.board-square-enemy {
    border: rgba(255, 0, 0, 0.418) 1px dotted;
    background-color: rgba(0, 0, 0, 0.20);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-top{
    display: flex;
    justify-content: center;
}
.main-middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.main-bottom{
    display: flex;
    justify-content: center;
}
.units-sidebar{ 
    min-width: 300px;
    width: 300px;
    height: 800px;
    border: black 2px solid;
}
.how-to-play{
    min-width: 300px;
    width: 300px;
    height: 800px;
    border: black 2px solid;
}
.board{
    min-width: 800px;
    position: relative;
    width: 800px;
    height: 800px;
    border: black 2px solid;
    margin: 0px 20px;
    background-image: url('../assets/units/background2.jpg');
    background-size: 800px 800px;
}