h1, h2, h3, h4{
    margin: 5px 0px;
}
h1{
    color: rgb(184, 244, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px rgb(0, 110, 0);
}
h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-shadow: 2px 2px 4px rgb(70, 0, 49);
}

h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 2px 2px 5px rgb(153, 6, 6);
}

h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 4px 4px 4px rgb(6, 0, 66);
}
p{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-shadow: 4px 4px 4px rgb(6, 0, 66);
    
}
.unit{
    position: absolute;
    display: flex;
    top:20px;
    width: 100px;
    height: 100px;
    z-index: 1;
}
.player-attack{
    position: absolute;
    display: flex;
    top:20px;
    left: 20px;
    width: 90px;
    height: 90px;
    z-index: 2;
    filter: drop-shadow(0px 0px 10px blue);
}

.enemy-attack{
    position: absolute;
    display: flex;
    top:20px;
    left: 20px;
    width: 90px;
    height: 90px;
    z-index: 2;
    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
}

html{
    background: radial-gradient(circle, rgb(255, 3, 3) 0%, rgb(0, 0, 0) 100%);
    background-color: rgb(50, 0, 78);
    background-image: url('../assets/other/back2.jpg');
    background-blend-mode: difference;
    background-size: cover;
}
body{
    margin: 0px;
    width: 100%;
    height: 100%;
}
.player{
    filter: hue-rotate(45deg) drop-shadow(0px 0px 10px blue);
}
.enemy{
    filter: hue-rotate(270deg) drop-shadow(0px 10px 10px red);
    width: 100px;
    height: 100px
}
.health-bar{
    user-select: none;
    opacity: 85%;
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    filter: drop-shadow(0px 0px 10px red);
}
#target{
    position: absolute;
    display: flex;
    top:450px;
    left: 450px;
    color: red;
    font-family: fantasy;
    font-size: 40px;
}

.board-square-player, .board-square-enemy{
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
}

.board-square-player {
    box-shadow: rgba(0, 0, 255, 0.9) 0px 0px 15px;
    background-color: rgba(255, 255, 255, 0.15);
}
.board-square-enemy {
    box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 15px;
    background-color: rgba(0, 0, 0, 0.20);
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-top{
    width: 800px;
    display: flex;
    justify-content: center;
    background-size: contain;
    box-shadow: 0px 5px 10px rgb(255, 102, 0);
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.192);
    
}
.main-top h1{
    margin: 0px;
    opacity: 100%;
    border-radius: 10px;;
    color: rgb(121, 239, 255);
    font-size: 50px;
    font-weight: bold;
   font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 10px rgb(0, 0, 255);
}
.main-middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    min-width: 1500px;
}
.main-bottom{
    height: 40px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: contain;
    box-shadow: 0px 5px 10px rgb(255, 102, 0);
    border-radius: 20px;
    background-color: rgba(41, 0, 0, 0.534); 
}

.units-sidebar{ 
    box-sizing: border-box;
    padding: 10px;
    min-width: 300px;
    width: 300px;
    height: 800px;
    border: rgba(255, 255, 255, 0.52) 1px solid;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(95, 0, 0, 0.5) 0%, rgba(139, 0, 139, 0.6) 33%,rgba(74, 1, 133, 0.7) 66%, rgba(2, 158, 163, 0.8) 100%);
    box-shadow: salmon -10px 10px 20px;
}
.how-to-play{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    width: 300px;
    height: 800px;
    border: black 2px solid;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2, 158, 163, 0.8)  0%, rgba(74, 1, 133, 0.7) 33%, rgba(139, 0, 139, 0.6)66%, rgba(95, 0, 0, 0.5) 100%);
    box-shadow: salmon 10px 10px 20px;
}
.how-to-play div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.board{
    min-width: 800px;
    position: relative;
    width: 800px;
    height: 800px;
    border: black 2px solid;
    margin: 0px 20px;
    background-color: rgba(2, 164, 214, 0.5);
    background-image: url('../assets/other/back4.jpg');
    background-size: 100%;
    border-radius: 10px;
    background-blend-mode: difference;
    filter: drop-shadow(0px 0px 30px rgb(0, 204, 255));
}

#overlay{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 250px;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(167,0,0,0.7) 0%, rgba(9,0,193,0.7) 49%, rgba(45,220,253,0.7) 100%);
    box-shadow: 10px 0px 10px rgb(255, 102, 0);
}
#overlayBack{
    z-index: 5;
    background-color: rgba(40, 0, 56, 0.6);
    position: absolute;
    display: flex;
    top: 0%;
    height: 100%;
    width: 100%;
}
.add{
    padding: 0px 10px;
    cursor: pointer;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add:hover{
    background-color:rgba(0, 0, 255, 0.274);
    border-radius: 10px;
}
.add-image{
    height: 50px;
    width: 50px;
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));

}
button{
    cursor: pointer;
    border: rebeccapurple 3px solid;
    color: rgb(0, 36, 153);
    background-color: rgba(255, 244, 231, 0.8);
    text-shadow: rgb(255, 158, 120) 0px 2px 2px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 8px 0px;
    width: 125px;
    box-shadow: -5px 5px 10px rgba(79, 80, 172, 0.7);
}
#start-fight-button{
    font-size: 24px;
    padding: 10px;
    width: 200px;
}
button:hover{
    background-color: rgba(3, 84, 190, 0.8);
    color: rgb(241, 218, 255);
    text-shadow: rgb(70, 176, 202) 0px 2px 2px;
}
.button-on{
    background-color: rgba(3, 84, 190, 0.8);
    color: rgb(241, 218, 255);
    text-shadow: rgb(70, 176, 202) 0px 2px 2px;
}
.button-on:hover{
    background-color: rgba(0, 49, 114, 0.8);
    color: rgb(189, 119, 255);
    text-shadow: rgb(255, 65, 230) 0px 2px 2px;
}
#stats {
    padding: 10px;
    width: 80%;
    height: 200px;
    background-color: rgba(0, 0, 37, 0.459);
    border-radius: 20px;
}
.main-bottom div{
    width: 200px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-around;
}
.main-bottom h1 {
    font-size: 22px;
    text-shadow: 2px 2px 4px rgb(255, 132, 50);
}
a{
    color: rgb(147, 255, 156);
    font-size: 18px;
    text-shadow: 3px 3px 4px rgb(12, 0, 141);
    font-style: italic;
}